.modalOverlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal {
    
    border: 1px solid rgba(104, 104, 104, 0.2);
    background-color: var(--scale-dark);
    border-radius: 12px;
    max-width: 335px;
}

.closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.closeIcon {
    stroke: var(--main-text-marked);
    width: 22px;
    height: 22px;
}

.fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 0.3s ease-in-out forwards;
    pointer-events: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}