.userBarWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.name {
    display: none;
}

.userBar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--input-bg);
    border: 1px solid var(--inactive-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--main-text-marked);
}

@media (min-width: 768px) {
    .userBar {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 112%;
    }
}

@media (min-width: 1280px) {
    .name {
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 112%;
        letter-spacing: -0.02em;
        text-align: center;
        color: var(--main-text-marked);
    }
}
