.wrapper {
    padding: 60px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booksIcon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--main-text-marked);
    margin-bottom: 10px;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--main-text);
    span {
        color: var(--main-text-marked);
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 50px;
    }

    .booksIcon {
        width: 70px;
        height: 70px;
        margin-bottom: 32px;
    }

    .title {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .text {
        max-width: 242px;
    }
}
